.bold{
    font-weight: 500;
}

.freedom{
    background-color: #ffc266;
    padding:5px 10px;
}

.big{
    font-size: 30px;
    font-weight: 400;
}

.small{
    font-size: 15px;
}

.coli{
    color: #ffc266;
}

.green{
    background-color:#7fda69;
    padding:0 10px;
}

.redii{
    font-size:20px;
    font-weight:600;
    color:#ff0000;
    border:2px solid #ff0000;
    padding:5px 10px
}